@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Product-Nor';
  src: url('../../public/norwester.otf');
}
@font-face {
  font-family: 'Product-Brand';
  src: url('../../public/Brandon-font/Brandon_reg.otf');
}

@font-face {
  font-family: 'Product-Brand';
  src: url('../../public/Brandon-font/Brandon_bld.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Product-Brand-Medium';
  src: url('../../public/Brandon-font/Brandon_med.otf');
}
@font-face {
  font-family: 'Product-Brand-Thin';
  src: url('../../public/Brandon-font/Brandon_thin.otf');
}
@font-face {
  font-family: 'Product-Brand';
  src: url('../../public/Brandon-font/Brandon_bld.otf');
  font-weight: medium;
}


