.App {
  color: rgb(0, 0, 0);
  text-align: center;
}

.container {
  padding: 20px;
  width: 400px;
  max-height: 1500px;
  background-color:#FFFFFF;
  position: relative;
}

button {
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  filter: brightness(1.1); /* Slightly lighten the button on hover */
}

button:active {
  filter: brightness(0.9); /* Slightly darken the button on click */
}

/* TODO @bots  */